In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('result.csv')
df

      # type  color  attribute
0     1  Pug  basic        NaN
1     1  Pug  basic        NaN
2     1  Pug  basic      scarf
3     1  Pug  basic        NaN
4     1  Pug  basic        NaN
..   ..  ...    ...        ...
245  50  Pug  basic  anonymous
246  50  Pug  basic     beanie
247  50  Pug  basic        NaN
248  50  Pug  basic        NaN
249  50  Pug  basic        NaN

[250 rows x 4 columns]

In [7]:
anonymous = df[df['attribute'] == 'anonymous']
anonymous

      #         type  color  attribute
15    4          Pug  basic  anonymous
50   11  SleepingPug  basic  anonymous
55   12          Pug  basic  anonymous
60   13  SleepingPug  basic  anonymous
80   17  SleepingPug  basic  anonymous
100  21          Pug  basic  anonymous
130  27          Pug  basic  anonymous
135  28  SleepingPug  basic  anonymous
140  29          Pug  basic  anonymous
145  30  SleepingPug  basic  anonymous
150  31          Pug  basic  anonymous
200  41  SleepingPug  basic  anonymous
205  42          Pug  basic  anonymous
210  43          Pug  basic  anonymous
215  44          Pug  basic  anonymous
225  46  SleepingPug  basic  anonymous
230  47          Pug  basic  anonymous
240  49  SleepingPug  basic  anonymous
245  50          Pug  basic  anonymous

In [11]:
fourth = df[df['#'] == 21]
fourth

      # type  color     attribute
100  21  Pug  basic     anonymous
101  21  Pug  basic  pilot-helmet
102  21  Pug  basic           NaN
103  21  Pug  basic     cigarette
104  21  Pug  basic           NaN