In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('result.csv')
df

,shape_edge,shape_eyes,shape_mouth,color_base,color_eyes,color_ears,attributes_face,attributes_head,attributes_neck,attributes_mouth,attributes_eyes
0,basic,sleeping,sleeping,basic,NaN,NaN,anonymous,NaN,NaN,NaN,NaN
1,basic,basic,basic,basic,NaN,NaN,anonymous,pilot-helmet,scarf,NaN,NaN
2,basic,sleeping,sleeping,basic,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,basic,basic,basic,basic,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,basic,basic,basic,basic,NaN,NaN,anonymous,pilot-helmet,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
95,basic,basic,basic,basic,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,basic,basic,basic,basic,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,basic,basic,basic,basic,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,basic,basic,basic,basic,NaN,NaN,NaN,NaN,NaN,NaN,3d-glasses
99,basic,basic,basic,basic,NaN,NaN,NaN,NaN,NaN,NaN,NaN